<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/favicon.jpg" onerror="this.onerror=null; this.href='favicon.jpg';">
    <link rel="stylesheet" href="static/style.css" onerror="this.onerror=null; this.href='style.css';">
    <title>Journey Family Admin</title>
</head>
<body>
    <div class="header">
        <div class="navbar__container">
            <a href="/" style="display: flex; align-items: center; text-decoration: none;">
                <svg style="margin-right:1rem" xmlns="http://www.w3.org/2000/svg" width="50" height="30" viewBox="0 0 60 30">
                    <!-- The "d" attribute defines the custom path shape -->
                    <path
                        d="M 55 15 L 20 15 M 35 5 L 20 15 L 35 25"
                        fill="none"
                        stroke="#a3c2c2"
                        stroke-width="5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
                <span id="navbar__logo">Back</span>
            </a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu" id="navbar__menu">
                <li class="navbar__item home-nav-item">
                    <a href="/" class="navbar__links">Home</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="sermon-list">
            <div class="spinner-container" id="loading-spinner">
                <span class="loader"></span>
            </div>
            <div class="admin-controls" style="padding: 20px; border-bottom: 1px solid rgba(45, 106, 106, 0.3);">
                <div class="add_playlist_form">
                    <form id="playlist-form" style="display: flex; gap: 10px; margin-bottom: 20px;">
                        <input type="text" name="playlist-url" id="playlist-url-1" 
                            placeholder="Enter YouTube Playlist URL" 
                            style="flex-grow: 1; padding: 10px; border-radius: 4px; background: #1a2a2a; color: white; border: 1px solid #2d6a6a;">
                        <button type="submit" class="download__mp3__btn">Track Playlist</button>
                    </form>
                </div>
                <div class="refresh-repo" style="display: flex; gap: 10px;">
                    <button class="download__mp3__btn" onclick="triggerUpdate('/videos/sync')">Sync Sermons</button>
                    <button class="download__mp3__btn" onclick="triggerUpdate('/playlists/sync')">Sync All Playlists</button>
                </div>
            </div>
            <table>
                <thead>
                    Playlists
                </thead>
                <tbody>
                    <tr><td colspan="5">Loading Playlists ...</td></tr>
                </tbody>
            </table>
            <div id="pagination-controls" class="pagination"></div>

        </div>
    </div>
    <div class="footer"></div>  
    <script>
        // reloads js from a different path from './static' when not renderd by fiber
        function loadScript(url, fallbackUrl) {
            let script = document.createElement("script");
            script.src = url;
            script.onerror = () => {
                console.warn(`Failed to load ${url}. Switching to fallback.`)
                let fallback = document.createElement("script");
                fallback.src = fallbackUrl;
                document.head.appendChild(fallback);
            }
            document.head.appendChild(script);
        }
        loadScript("static/app.js","app.js")
    </script>  
</body>
</html>